/*
#author: felmerald besario
#date created: November 22, 2015 ;
*/

/*blockqoutes*/
.blockqoute-red{
	border-left: 5px solid #AF0000;
	background: #d9534f;

}
.blockqoute-blue{
	border-left: 5px solid #337ab7;
	background: #5bc0de;
}
/*break all*/
.word-break{
	word-break:break-all;
}
/*keep-all*/
.word-keep{
	word-break:keep-all;
}

/*letter capitalize, lowercase, uppercase*/
.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}
/*text-indention*/
.text-indent
{
    text-indent: 50px;
}




/*image file*/
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 2;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*felmerald styles*/
.bodycolor{
	background-color:#e7e7e7;
}
.marginfolderhr{
	margin-top: 20px;
}
.adminMargin{
	color:white;
	margin-top: 13px;
	margin-left: 15px;
	font-size: 16px;
}
.marginLabel{
	margin-left: 15px;
}
.marginlabeltop{
	margin-top: 10px;
}
.marginTop{
	margin-top: 15px;
}
.marginButtonNegative{
	margin-top: -5px;
}
.h6sidebarmargin
{
	margin-left:30px;
	margin-top:-16px;
	color:black;
	word-break: break-all;
}
.h6sidebarmarginone{
	margin-left: 30px;
	margin-top: 10px;
	color:black;
}
.Pcolor{
	color:grey;
}
.newsheight
{
	height: 20px;
}
.newsheightwithmargin{
	height:20px;
	margin-top:-15px;
}
.profilestyle{
	height:50px;
	width:50px;
	margin-top:-10px;
}
.MarginLeftNegative{
	margin-left: 5px;
	color: black;
	margin-top: -16px;
}
.panelStyle{
	border-radius: 0px;
}
.addstatusheight{
	height: 20px;
}
.statusstyle{
	margin-left: 30px;
	margin-top: -18px;
}
.hrmargin{
	margin-top: 1px;
}
.table-margin{
	margin-top: 60px;
}
.add_status_img
{
	height: 20px;
	width: 20px;
}
.select_topic_style
{
	margin-left: 30px;
	margin-top: px;
}
.userhr{
	margin-top: 30px;
}
.vsmargin{
	margin-top: 4px;
}
.userhr1{
	margin-top: 70px;
}
.marginpaneltop{
	margin-top: 10px;
}
.hyt{
	height: 150px;
	width: 400px;
}
.default_hyt{
	height: 320px
}
.default_hyt_new{
	height: 200px;
}



/*super admin*/
.superloginstatus{
	height: 25px;
	width:25px;
}
.superlogin_paragraph{
	margin-left: 30px;
	margin-top: -20px;
}
.notification_height{
	height: 50px;
	width: 50px;
}
.panelBody-table-blocked{
	height: 600px;
}
.margin-add-department{
	margin-top: 10px;
}
.print-row-margin{
	margin-top: 15px;
}
.img-logo-size{
	height: 50px;
	width: 50px;
}
.default-profile-size{
	height: 60px;
	width: 80px;
	margin-top: 10px;
}
.col-margin-top{
	margin-top: 40px;
}
.margin-left-print{
	margin-left: 40px;
}
.message-height-img{
	height: 40px;
	width: 40px;
}
.message-height-img-comment
{
	width: 30px;
	height: 30px;
}
.margin-date-posted{
	margin-top: 2px;
}
.news-image{
	height: 200px;
	width: 200px;
}
.view-margin{
	margin-right: 10px;
}
.overflow-body{
	height: 170px;
	overflow-y:scroll;
}
.news-image-height{
	height: 20px;
	width: 20px;
}
.like-margin{
	margin-left: 25px;
	margin-top: -15px;
}
.news-image-modal{
	height: 400px;
	width: auto;
}
.post-img
{
	height: 70px;
	width: 70px;
}

/*user*/
.res{
	margin-top: 30px;
}
.add-style-img{
	height: 80px;
	width: 80px;
}
.department_current_size{
	height: 150px;
	width: 150px;
}
.img-search-size{
	height: 150px;
	width: 150px;
}
.modal_margin_fix{
	margin-top: 200px;
}
.img_location_size{
	height: 17px;
	width: 15px;
	margin-top: 10px;
}
.department_margin_fix{
	margin-left: 20px;
	margin-top: -15px;
}
.dropdown_margin_fix{
	margin-top: -30px;
}
.time_join_margin{
	margin-top: 10px;
}
.user_height{
	height: 20px;
	width: 20px;
}
.img-size-total{
	height: 150px;
	width: 150px;
}
.read_more_hyt{
	height: 200px;
}
.update_hyt{
	height: 100px;
	width: 100px;
}
.logo-height{
	height: 30px;
	width: 30px;
}
.header_margin{
	margin-left: 50px;
	margin-top: -30px;
}
.scsit_margin{
	margin-left: 50px;
}
.em-left{
	margin-left: 20px;
}
.address_margin{
	margin-left: 50px;
	margin-top: -25px;
}
.img_set_height{
	height: 50px;
	width: 50px;
}
#upload_formfel{
width:300px;
margin:auto;
border:1px solid #ccc;
text-align:center;
padding:20px;
}
.previewfel
{
width:250px;
height:200px;
border:solid 1px #000;
padding:5px;
}
#previewfel
{
color:#aaa;
}
input{
border:1px solid #aaa;
padding:10px;
}
.success_margin_reg{
	margin-top: 170px;
}
.change_pic_id{
	height: 200px;
	width: 400px;
}
.change_pic_idone{
	width: 200px;
	height: 180px;
}
.margin_wells{
	margin-top: 300px;
}
.news_img_default{
    width: 100px;
    height: 100px;
}
.popup{
	height: 150px;
	width: 150px;
}
.time_set_value{
	height: 20px;
	width: 30px;

}
.adminni{
	height: 20px;
	width: 20px;
}
.login_security{
	height: 50px;
	width: 50px;
}
.admin_login_security{
	margin-left: 60px;
}
.locator_hieght{
	height: 50px;
	opacity: 0.4;
}
.add_item_button{
	height: 100px;
	width: 100px;
	
}
.file_admin{
	height: 35px;
	width: 60px;
}
.margin2nd{
	margin-left: -20px;
}
.margin3rd{
	margin-left: -30px;
}
.folded_image{
	height: 20px;
	width: 20px;
}
.hoverlocate{
	background: transparent;
}



/*ribbon*/
.folded h2 {
    background: #08b;
    background-image: radial-gradient(transparent 30%, rgba(0, 0, 0, 0.2));
    border: 0 solid rgba(0,0,0,0.2);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.2);
}

.folded:before, div.folded:after {
    bottom: 26px;
    content: "";
    height: 28px;
    position: absolute;
    width: 48%;
    z-index: -1;
}
.folded:before {
    left: 2%;
    transform: rotate(-3deg);
}
.folded:after {
    right: 2%;
    transform: rotate(3deg);
}
.folded h2 {
    border-width: 1px 1px 2px;
    margin: 0;
    padding: 4px 40px;
    position: absolute;
    right: 2px;
    margin-top: -16px;
}
.folded h2:after {
    border-width: 7px;
    border-style: solid;
    border-color: #134 transparent transparent #134;
    bottom: -15px;
    content: "";
    position: absolute;
    right: -1px;
}
