/*
Date created: January 31 2015
Coded by: Felmerald Besario;
Version: CSS 3;
*/
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 7px 15px;   /* Size sa button*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    transition: all 0.5s;
    margin: 5px;
}
.button-blue {
	background-color: #008CBA;
	
} 
.button-red {
	background-color: #f44336;

} 
.button-gray {
	background-color: #e7e7e7;
	color: black;

} 
.button-black 
{
background-color: #555555;
}
/*button xtra small*/
.button-xs,
.button-group-xs > .button {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;

}

/*button full with dre*/
.button-full{
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}

/*button animation sa kani >>*/
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*button group*/
.button-group {
    background-color: #008CBA; /* blue */
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

.button-group:hover {
    background-color: #286090;
}

.button-group span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-group span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-group:hover span {
  padding-right: 25px;
}

.button-group:hover span:after {
  opacity: 1;
  right: 0;
}

/*panel shadow*/
.panel-shadow{
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.border{
  border-radius: 0px;
}