/*ribbon*/
.header_fold h2 {
    background: #08b;
    background-image: radial-gradient(transparent 30%, rgba(0, 0, 0, 0.2));
    border: 0 solid rgba(0,0,0,0.2);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.2);
}

.header_fold:before, div.header_fold:after {
    bottom: 26px;
    content: "";
    height: 28px;
    position: absolute;
    width: 48%;
    z-index: -1;
}
.header_fold:before {
    left: 2%;
    transform: rotate(-3deg);
}
.header_fold:after {
    right: 2%;
    transform: rotate(3deg);
}
.header_fold h2 {
    border-width: 1px 1px 2px;
    margin: 0;
    padding: 4px 40px;
    position: absolute;
    left: -15px;
    margin-top: -8px;
}
.header_fold h2:after {
    border-width: 7px;
    border-style: solid;
    border-color: #134 transparent transparent #134;
    bottom: -15px;
    content: "";
    position: absolute;
    left: -1px;
    transform: rotate(90deg);
}

.sa_page h2 {
    
    position: absolute;
    left: 1px;
    
}