#panel,#flip
{
padding:5px;
background-color:#e5eecc;
}
#panel
{
padding:50px;
display:none;
}
/*for image nga original 
wala pa ni rotate
*/
.felmeraldRotationimagelike{
	 width: 200px;
    height: 200px;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 2s, transform 2s;
}
/*
image effect nig hover dayun mo rotate
*/
.felmeraldRotationimagelike:hover{
	width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
